
<?xml version="1.0" encoding="UTF-8"?>
<simulation>
        <entity>
            <name>grass</name>
            <quantity>4</quantity>
        </entity>
        <entity>
            <name>rock</name>
            <quantity>1</quantity>
        </entity>
        <entity>
            <name>tree</name>
            <quantity>1</quantity>
        </entity>
        <entity>
            <name>sheep</name>
            <quantity>1</quantity>
        </entity>
        <entity>
            <name>fox</name>
            <quantity>1</quantity>
        </entity>
</simulation>